body {
  margin: 0;
  background: #DA627D;
  font-family: 'Montserrat', sans-serif;
}

.container {
  align-items: center;
  color: #0D0628;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.inbox {
  background: #E2FADB;
  border: 1px solid #0D0628;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, .1);
  max-width: 400px;
}

.item {
  align-items: center;
  border-bottom: 1px solid #0D0628;
  display: flex;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  border-left: 1px solid #0D0628;
  flex: 1;
  margin: 0;
  padding: 20px;
}