body {
  margin: 0;
}

.cat {
  width: 100px;
}

.container {
  align-items: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.keys__container {
  display: flex;
}

.key {
  align-items: center;
  background: rgba(0,0,0,0.5);
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  display: flex;
  font-size: 35px;
  height: 80px;
  justify-content: center;
  margin: 5px;
  transition: all 0.15s;
  width: 80px;
}

.key--active {
  border-color: #FFD859;
  box-shadow: 0 0 10px #FFD859;
  transform: scale(1.1);
}
