:root {
  --base: #7FB285;
  --spacing: 10px;
  --blur: 5px;
}

body {
  align-items: center;
  background-color: #AFD2E9;
  color: #FFF;
  display: flex;
  flex-flow: column;
  font-family: 'helvetica';
  justify-content: center;
}

.image {
  background: var(--base);
  filter: blur(var(--blur));
  margin-top: 50px;
  max-width: 600px;
  padding: var(--spacing);
}

.js-title {
  color: var(--base);
}